{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block menu %}

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'base' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
            Sign in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Sign up
        </a>
    </li>

{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create account</h4>
                    <form action="." method="post">
                        {{ user_form|crispy }}

                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">Create account</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}