{% extends 'base.html' %}

{% block menu %}

    <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'logout' %}">
            Sign Out</a>
    </li>

{% endblock %}

{% block main %}

    <base>
    <h2><p class="text-center">Chat Messages</p></h2>
    {% for i in date %}

        <div class="containers ">
            <h5>{{ i.name }}</h5>
            <p>{{ i.messages }}</p>
            <span class="time-right">{{ i.date_time }}</span>
        </div>

        {#            <div class="containers darker">#}
        {#                <h5>{{ i.name }}</h5>#}
        {#                <p>{{ i.messages }}</p>#}
        {#                <span class="time-right">{{ i.date_time }}</span>#}
        {#            </div>#}


    {% endfor %}
    <div class="containers">
        <form name="test" method="POST" action="add_DB_messages/db">

            {% csrf_token %}

            <input class="form-control" type="text" name="messages"/>
            <br>
            <button type="submit" id="but" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
    </base>

{% endblock %}